/*  your css code here. If applicable */
 :root{
    background-color: skyblue;
}

p:first-child{
    background-color: black;
    color: white;
}
p:last-child{
    color: red;


}

li:first-child,li:last-child{
    background-color: white;
    font-size: 32px;
    width: 500px;
}

li:nth-child(even){
    width: 500px;
    background-color: slategrey;

}

li:nth-child(3){
    width: 500px;
    background-color: pink;
}
